$primary: #97B3FA;
$success: #5E8C5D;
$warning: #FAC697;
$danger: #FA97BA;
$secondary: #45586C;
$purple: #fa97f8;
$light: #FFFFFF;
$cyan: #97FAE2;
$lime: #DAFA97;

$gray: #b1b1b1;

$text-dark-color: #565656;
$text-light-color: #FFFFFF;

$colors: (
	"primary": var(--primary),
	"secondary": var(--secondary),
	"success": var(--success),
	"warning": $warning,
	"danger": $danger,
	"gray": $gray,
	"purple": $purple,
	"light": $light,
	"cyan": $cyan,
	"lime": $lime,
	"dark": $text-dark-color
);

.btn-transparent {
	background-color: transparent;
	border: none;
	outline: none;
}

@each $color, $code in $colors {
	.btn-#{$color} {
		background-color: $code;
		color: $light;
		border: none;
		outline: none;

		&:hover {
			opacity: 0.7;
			color: $light;
		}
	}

	.text-#{$color} {
		color: $code !important;
	}

	.badge-#{$color} {
		background-color: $code;
	}

	.bg-#{$color} {
		background-color: $code;
	}
}
