/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import 'styles/colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	color: #8E8E8E;
	text-decoration: none;
	outline: none;

	&:hover {
		color: $success;
	}
}

button {
	padding: 10px;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
}

.p-0 {
	padding: 0;
}

::-webkit-scrollbar {
	width: 7px;
	height: 4px;
	background: var(--background);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--success);
	border-radius: 5px;
}

@for $i from 1 through 16 {
	.fs-#{$i} {
		font-size: #{$i}px;
	}
}
